---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import BlogPostPreview from "~components/blog-post/BlogPostPreview.astro";
import BaseLayout from "~components/layouts/BaseLayout.astro";

export const prerender = true;

const pageTitle = "Blog posts";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("blog", ({ data }) =>
    import.meta.env.PROD ? data.status === "published" : true
  );
  // sort posts from new to old
  posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

  return paginate(posts, { pageSize: 5 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <ul class="post-list">
    {
      page.data.map((post) => (
        <BlogPostPreview
          url={`/blog/${post.slug}`}
          date={post.data.pubDate}
          title={post.data.title}
          description={post.data.description}
          image={post.data.image}
        />
      ))
    }
  </ul>
  <div class="pagination">
    {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
    Page {page.currentPage}
    {page.url.next ? <a href={page.url.next}>Next</a> : null}
  </div>
</BaseLayout>

<style>
  .post-list {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .pagination {
    margin-top: 1.5rem;

    display: flex;
    justify-content: center;
    gap: 8px;
  }
</style>
