---
import { getCollection } from "astro:content";
import BaseLayout from "~layouts/BaseLayout.astro";

const pageTitle = "Projects";
const projects = await getCollection("projects");
---

<BaseLayout {pageTitle}>
  <div class="table-wrapper">
    {
      (["apps", "websites", "learning"] as const).map((category) => (
        <>
          <h2>{category[0].toLocaleUpperCase() + category.slice(1)}</h2>
          <table>
            {["Name & Link", "Tools & Languages", "Description"].map(
              (header) => (
                <th>{header}</th>
              )
            )}
            {projects
              .filter((p) => p.data.category === category)
              .map((project) => (
                <tr>
                  <td>
                    <a href={project.data.link}>{project.data.name}</a>
                  </td>
                  <td>{project.data.tools.join(", ")}</td>
                  <td>{project.data.description}</td>
                </tr>
              ))}
          </table>
        </>
      ))
    }
  </div>
</BaseLayout>

<style>
  .table-wrapper {
    overflow: auto;
  }

  table {
    min-width: 600px;
  }

  table,
  th,
  td {
    border: 1px solid;
    border-radius: 4px;
  }
  tr td:first-child {
    min-width: 8.5rem;
  }
  td {
    padding: 0.5rem;
  }
</style>
