---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseLayout from "~layouts/BaseLayout.astro";

const pageTitle = "Projects";
const projects = await getCollection("projects");
---

<BaseLayout {pageTitle}>
  {
    ["apps", "libraries", "websites", "learning"].map((category) => (
      <div class="table-wrapper">
        <h2>{category[0].toLocaleUpperCase() + category.slice(1)}</h2>
        <table>
          {["Demo/Link", "Project", "Tools Used"].map((header) => (
            <th>{header}</th>
          ))}
          {projects
            .filter((p) => p.data.category === category)
            .map((project) => (
              <tr>
                <td>
                  {project.data.image ? (
                    <a
                      href={project.data.link}
                      target="_blank"
                      rel="noopener"
                      referrerpolicy="no-referrer"
                    >
                      <Image
                        class="project-image"
                        src={project.data.image}
                        alt={project.data.name}
                        width={160}
                        height={110}
                        densities={[1, 1.5]}
                        loading={category === "apps" ? "eager" : "lazy"}
                      />
                    </a>
                  ) : (
                    <a
                      href={project.data.link}
                      target="_blank"
                      rel="noopener"
                      referrerpolicy="no-referrer"
                    >
                      Link
                    </a>
                  )}
                </td>
                <td>
                  <strong>{project.data.name}</strong>:{" "}
                  {project.data.description}
                </td>
                <td>{project.data.tools.join(", ")}</td>
              </tr>
            ))}
        </table>
      </div>
    ))
  }
</BaseLayout>

<style>
  .table-wrapper {
    overflow: auto;
  }

  table {
    min-width: calc(var(--body-width) - 2rem);
    border: none;
    border-collapse: collapse;
    border-spacing: 8px;
  }

  th,
  tr {
    border-bottom: 1px solid var(--accent);
  }

  tr:last-child {
    border: none;
  }

  th {
    padding: 0.2rem;
  }
  td {
    padding: 0.6rem;
  }

  .project-image {
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    border: solid 1px gray;
  }
</style>
