---
import BaseLayout from "./BaseLayout.astro";
import Tags from "../components/Tags.astro";
import BlogPostLike from "~components/BlogPostLike";
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const dateFormatter = new Intl.DateTimeFormat("en-US", {
  timeZone: "UTC",
  weekday: "long",
  month: "short",
  day: "numeric",
  year: "numeric",
});
const formattedDate = dateFormatter.format(new Date(post.data.pubDate));
const postUrl = `https://fasharp.io/blog/${post.slug}`;
---

<BaseLayout
  pageTitle={post.data.title}
  head={{
    ogTitle: post.data.title,
    ogUrl: postUrl,
    ogDescription: post.data.description,
    ogImage: post.data.image?.url.src,
    ogType: "article",
  }}
>
  <div class="metadata">
    <div class="metadata-date">
      <Icon aria-label="date" name="fa6-regular:calendar" size={20} />
      {formattedDate}
    </div>
    <Tags
      tags={post.data.tags.map((tag: string) => ({
        name: tag,
        url: `/tags/${tag}`,
      }))}
    />
    <div>
      <BlogPostLike client:only="preact" postSlug={post.slug} />
    </div>
  </div>
  {
    post.data.image && (
      <Image
        src={post.data.image.url}
        alt={post.data.image.alt}
        width={post.data.image.width || post.data.image.url.width}
        height={post.data.image.height || post.data.image.url.height}
      />
    )
  }
  <article>
    <slot />
  </article>
</BaseLayout>

<style>
  .metadata {
    margin-block: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .metadata-date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .social {
    margin-block: 1rem;
  }
</style>
